.listings{
    height: 100vh;
    background-image: "url(/image/image.jpg)";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    text-align: center;
    border-collapse: collapse;
    height: 65%;
    width: 140%;
    background-color: white;
    margin: 25px;
    font-size: small;
    font-weight: bold;
    color: gray;
    padding-right: 10%;
}
.head_style{
    color: black;
}
tr{
    border: 1px solid grey;
}

